body {
    font-family: 'Baloo 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url(spy.jpg);

}

.left {
    display: inline-block;

    position: absolute;
    left: 8px;
    top: 18px;
}

.mid {
    display: block;
    width: 35%;
    margin: 18px auto;



}

.right {
    position: absolute;
    right: 8px;
    top: 18px;
    display: inline-block;


}

.na {
    display: inline-block;

}

.na li {
    display: inline-block;

}

.na li a {
    color: white;
    text-decoration: none;
    padding: 30px 20px;
}

.na li a:hover,
.na li a.active {
    text-decoration: underline;
    color: rgb(31, 243, 208);
}

.left img {
    width: 60px;
    filter: invert(100%);
}

.left div {
    text-align: center;
    color: rgb(31, 243, 208);
}

.btn {
    font-family: 'Baloo 2', cursive;
    margin: 19px 8px;
    background-color: black;
    color: white;
    padding: 0px 18px;
    border: 2px solid rgb(31, 243, 208);
    border-radius: 10px;
    font-size: 20;
    cursor: pointer
}

.btn:hover {
    background-color: rgb(50, 183, 245);
}
.form-box {
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto auto;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 300px;
	height: 330px;
}
.form-box:before {
	background-image: url(spy.jpg");
	width: 100%;
	height: 100%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	filter: blur(2px);
}
.form-box .header-text {
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 30px;
	text-align: center;
}
.form-box input {
	margin: 10px 0px;
	border: none;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	font-family: poppins;
}
.form-box input[type=checkbox] {
	display: none;
}
.form-box label {
	position: relative;
	margin-left: 5px;
	margin-right: 10px;
	top: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.form-box label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #ddd;
}
.form-box input[type=checkbox]:checked+label:before {
	content: "\2713";
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 20px;
}
.form-box span {
	font-size: 14px;
}
.form-box button {
	background-color: deepskyblue;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	padding: 10px;
	margin: 20px 0px;
}
span a {
	color: #BBB;
}
